.Form-Input {
    display: flex;
    flex-direction: row;
    border: solid grey 1px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 12px;
    margin-bottom: 12px;

}


input {
    margin: 7px;
    width: 200px;
}

.Input-Body {
    width: 400px;
}

label {
    margin: 5px;
}

.Button {
    border: solid grey 1px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 12px;
    margin-bottom: 12px;
}

Button {
    border: solid grey 1px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 12px;
    margin-bottom: 12px;
}