.homepage{
    display: flex;
    justify-content: center;
    background-color: #FCFEFC;
    min-height: 550px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
    min-width: 300px;
}

.hero-text-and-button{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    width: 500px;
}

.hero-title {
    font-size: 5rem;
    margin:0;
}

.all-reviews-button {
    margin-top: 30px;
    background-color: #FE37A4;
    padding: 10px;
    border-radius: 10px;
    color: white !important;
    text-align: center;
    width: 150px;
}

.hero-image-container {
    display: flex;
    justify-content: flex-end;
}

.hero-image {
    height: 400px;
}