.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFEFC;
    min-height: 550px;
    padding-top: 50px;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    max-width: 1100px;
    min-width: 300px;
    padding: 20px;
}

.hero-text-and-button{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    width: 600px;
}

.hero-title {
    font-size: 6rem;
    margin:0;
}

.hero-text {
    font-size: 1.3rem;
}

.all-reviews-button {
    margin-top: 30px;
    background-color: #FE37A4;
    padding: 10px;
    border-radius: 10px;
    color: white !important;
    text-align: center;
    width: 150px;
}

.hero-image-container {
    display: flex;
    justify-content: flex-end;
}

.hero-image {
    height: 400px;
    min-height: 150px;
}


/* responsive */
@media only screen and (max-width: 450px){
    .hero-image {
        height: 200px;
    }
    .hero-title {
        font-size: 3.2rem;
        padding-top:2px;
    }

    .hero-text {
        font-size: 0.7rem;
    }
}