.Loading-Page {
    font-size: 2rem;
    text-align: center;
}


.Category-Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}