.QueryBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.Tab-QueryBar {
    height: 30px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
    border: solid grey 2px;
    border-radius: 5px;
    
}

.Tab-QueryBar:hover {
    color:rgb(63, 63, 63);
    background-color: #F9F871;;
}

.Sort-Reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.select {
    margin-right: 10px;
}