.QueryBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #001e62;
    color: white;
}



.Tab-QueryBar {
    margin: 15px;
    text-decoration: none;    
}

.Tab-QueryBar:hover {
text-decoration: underline;
}

.Sort-Reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.select {
    margin-right: 10px;
}