.QueryBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.Tab-QueryBar {
    border: solid grey 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    height: 30px;
    text-decoration: none;
    color: black;
}

.Tab-QueryBar:hover {
    color:white;
    background-color: #597dd8;;
}

.Sort-Reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.select {
    margin-right: 10px;
}