
body {
    background-color: rgb(250, 250, 250);
    margin: 30px;
}

header {
    color: rgba(0, 0, 0, 0.936);
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
  align-items: center;
}

.App-Title {
    margin-left: 20px;
    font-size: 3.6rem;
    color: #597dd8;
}

.User-Info {
    color:rgba(0, 0, 0, 0.781);
    text-decoration: none;
    margin: 20px;
}

.User-Icon {
    padding: none;
}

.User-Info-Username{
    padding: none;
    color: #597dd8;
}

.Loading-Page {
    font-size: 1.7rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.781);
}

.Queries {
    margin: 20px;
}

a:link { text-decoration: none; color: inherit; }

a:visited { text-decoration: none; color: inherit;}

a:hover { text-decoration: none; color: inherit;}

a:active { text-decoration: none; color: inherit;}
