@import url("https://fonts.googleapis.com/css2?family=Sriracha&family=Vollkorn&display=swap");

h1 {
  font-family: "Sriracha";
  line-height: 1.1;
  color: rgb(70, 70, 70);
}

h3 {
  font-family: "Vollkorn";
  font-weight: 700;
}

p,
button {
  font-family: "Vollkorn";
}

body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

header {
  color: rgba(0, 0, 0, 0.936);
  height: 100px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  margin: 0;
  padding: 7px 8px;
}

.app {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-Title {
  font-size: 360%;
  height: 60px;
}

.sort-container {
  display: flex;
  justify-content: right;
  margin-bottom: 2%;
}

.select {
  width: 150px;
  height: 30px;
  font-size: 80%;
  border-radius: 0;
  background-color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.page-select {
  margin-right: 15px;
  font-size: 1.5rem;
}

.pagination-link {
  height: 50px;
  width: 50px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

/* responsive */
@media only screen and (max-width: 450px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .app-header--right {
    display: none;
  }

  .view-more-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .view-less-button-container {
    display: flex;
    justify-content: center;
  }

  .view-less-button {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none !important;
    box-shadow: none !important;
  }

  .header-right-icon {
    height: 15px !important;
    width: 15px !important;
  }

  .view-more-button {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 0.5rem;
  }
}

@media only screen and (min-width: 451px) {
  .header-menu {
    display: none;
  }
}
