@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Vollkorn&display=swap');

h1 {
    font-family: 'Sriracha';
    line-height: 1.1;
}

body {
    width: 100vw;
padding: 0;
margin: 0;
}

header {
    color: rgba(0, 0, 0, 0.936);
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  align-items: center;
  margin: 0;
}

.App-Title {
    font-size: 360%;
    height: 60px;
    margin-left: 15px;
}

.Loading-Page {
    font-size: 170%;
    text-align: center;
    color: rgba(0, 0, 0, 0.781);
}

.sort-container {
    display: flex;
    justify-content:right;
    margin-bottom: 2%;
}

.select {
    width: 150px;
    height: 30px;
    font-size: 80%;
    border-radius: 0;
    background-color: white;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.page-select {
margin-right: 15px;
font-size: 1.5REM;
}

.pagination-link {
    height: 50px;
    width: 50px;
}

.footer {
    height: 80px;
    background-color: #001e62;
    margin-top: 50px;
    margin-bottom: 0;
}


a:link { text-decoration: none; color: inherit; }

a:visited { text-decoration: none; color: inherit;}

a:hover { text-decoration: none; color: inherit;}

a:active { text-decoration: none; color: inherit;}

/* responsive */
@media only screen and (max-width: 450px){

    header {
        display: flex;
        flex-direction: column-reverse;

    }

    .User-Info {
    margin-left: 250px;
    margin-right: 1px;
    font-size: 10px;
    padding: 0%;
}
}